<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="about.css"/>
  </head>

  <body>
    <h1>Purple Ici Bakery</h1>

    <p>
      Bakery founded in 2018. Emphasis on excellent customer service and baking techniquies. Wide range of confectionaries made around custom themes or opt to order one of our specialty premade items.
    </p>

    <p>
      We should express our gratitude for small and simple things<br>
      The scent and atmosphere of rain<br>
      A hug from one who feels the same<br>
      The music that you play<br>
      The food that you eat
    </p>
    
  </body>
</html>
