<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="cake.css"/>
  </head>

  <body>
    <a href="/"><button type="button">Back</button></a>

    <br><br><br>

    <div id="cake-grid">
      <div class="cake-variety"><img src="cakes/ck1.jpg"/></div>
      <div class="cake-variety"><img src="cakes/ck2.jpg"/></div>
      <div class="cake-variety"><img src="cakes/ck3.jpg"/></div>
    </div>

    <script src="cake.js"></script>
  </body>

</html>
