<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="cookie.css"/>
  </head>

  <body>
    <a href="/"><button type="button">Back</button></a>

    <br><br><br>

    <div id="cookie-grid">
      <div class="cookie-variety"><img src="cookies/co1.jpg"/></div>
      <div class="cookie-variety"><img src="cookies/co2.jpg"/></div>
      <div class="cookie-variety"><img src="cookies/co3.jpg"/></div>
    </div>

    <script src="cookie.js"></script>
  </body>

</html>
