<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8"/>
  <title>Purple Ici Bakery</title>
  <link rel="icon" href="https://png.icons8.com/windows/50/000000/cookie.png">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <div id="home-header">
    <h1>Purple Ici Bakery</h1>
  </div>

  <div id="home-navbar">
    <div class="home-navlink"><a href="about">About</a></div>
    <div class="home-navlink"><a href="events">Events</a></div>
  </div>

  <div id="home-selection-grid">
    <div class="home-selection-option"><a href="cakes"><img src="cake.jpg"/></a></div>
    <div class="home-selection-option"><a href="cookies"><img src="cookie.jpg"/></a></div>
    <div class="home-selection-option"><a href="muffins"><img src="muffin.jpg"/></a></div>
  </div>

</body>

</html>
