<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="muffin.css"/>
  </head>

  <body>
    <a href="/"><button type="button">Back</button></a>

    <br><br><br>
    
    <div id="muffin-grid">
      <div class="muffin-variety"><img src="muffins/mf1.jpg"/></div>
      <div class="muffin-variety"><img src="muffins/mf2.jpg"/></div>
      <div class="muffin-variety"><img src="muffins/mf3.jpg"/></div>
    </div>

    <script src="muffin.js"></script>
  </body>

</html>
