html{
  text-align: center;
}

button{
  float: left;
  color:white;
  background-color: #6C2730;
  border:2px solid black;
  border-radius: 5px;
  font-size: 130%;
}

#cookie-grid{
  display: grid;
  grid-template: 100% / auto auto auto;
}

.cookie-variety{
  max-height: 100%;
}

img{
  max-height: 100vh;
  border-radius: 6px;
}

div a{
  background-color:#6C2730;
  color:white;
  padding:2%;
  border-radius: 6px;
}

div a:hover{
  cursor:pointer;
}
